<!-- start main-news-slider -->
<div class="main-news-slider pt-75">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                {{#get "posts" filter="featured:true" as |feature_posts|}} 
                  {{#foreach feature_posts}} 
                    {{#if @first}}
                <div class="top-news-img">
                    <div class="img-section">
                        <div class="large-post-thumb" style="{{#if feature_image}} background-image: url({{feature_image}}); {{else}} background-image: url(/assets/images/default-img.png); {{/if}}"></div>
                    </div>
                    <div class="caption">
                        <a href="{{url}}"><i class="fas fa-link"></i></a>
                    </div>
                    <div class="quote-icon">
                        <h3>Lo Último</h3>
                    </div>
                </div>
                <div class="top-news">
                    <h1><a href="{{url}}">{{title}}</a></h1> {{excerpt words="25"}}
                </div>
                  {{/if}} 
                 {{/foreach}} 
                {{/get}}
            </div>
            <div class="col-md-5">
                <div class="single-post-category sm-mt-70">
                    <ul>
                        {{#get "posts" filter="featured:true" limit="7" as |feature_list| }} 
                          {{#foreach feature_list}} 
                           {{#unless @first}}
                        <li>
                            <div class="single-post">
                                <div class="post-thumb">
                                    <div class="small-post-thumb" style="{{#if feature_image }} background-image: url({{feature_image}}); {{else}} background-image: url(/assets/images/default-img.png); {{/if}}"></div>
                                    <div class="caption">
                                        <a href="{{url}}"><i class="fas fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="item-post-content">
                                    <h2><a href="{{url}}">{{title words="1"}}</a></h2>
                                    <p>{{excerpt words="15"}} ...</p>
                                </div>
                            </div>
                        </li>
                          {{/unless}} 
                         {{/foreach}} 
                        {{/get}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end main-news-slider -->