    <!-- Start Footer -->
    <footer class="clearfix">
        <div class="footer-area">
            <div class="footer-overlay  section-ptb">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="logo-area footer-logo wow fadeInUp" data-wow-delay="0.2s">
                               <a href="index.html"><img src="{{#if @blog.logo}} {{@blog.logo}} {{else}} /assets/images/logo.png {{/if}}" alt="{{@blog.title}}"></a>
                            </div>
                            <p class="about wow fadeInUp" data-wow-delay="0.4s">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum </p>
                            <div class="footer-social wow fadeInUp" data-wow-delay="0.6s">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-widget wow fadeInUp" data-wow-delay="0.2s">
                                <div class="footer-title">
                                    <h4>Recent Posts</h4>
                                </div>
                                <div class="footer-content">
                                   {{#get "posts" limit="3" as |recent_posts| }}
                                   {{#foreach recent_posts}}
                                    <div class="footer-post">
                                        <div class="footer-post-time">
                                            <div class="day">{{date format="D"}}</div>
                                            <div class="month">{{date format="MMM"}}</div>
                                        </div>
                                        <div class="footer-post-text">
                                            <a href="{{url}}">{{title}}</a>
                                        </div>
                                    </div>
                                    {{/foreach}}
                                    {{/get}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="overflow">
                                <div class="footer-widget wow fadeInUp" data-wow-delay="0.4s">
                                    <div class="footer-title">
                                        <h4>Photo Gallery</h4>
                                    </div>
                                    <div class="footer-content">
                                        <div class="gallery-widget">
                                           {{#get "posts" limit="6" as |gallery|}}
                                           {{#foreach gallery}}
                                            {{#if feature_image}}
                                            <div class="footer-gallery img">
                                                <div class="caption">
                                                    <a href="{{feature_image}}" class='lightview' data-lightview-group="example" data-lightview-caption="Lightview has mobile-friendly side buttons and pagination for easy navigation.">
                                                        <i class="fa fa-search"></i>
                                                    </a>
                                                </div>
                                                <img src="{{feature_image}}" alt="img" />
                                            </div>
                                            {{/if}}
                                            {{/foreach}}
                                             {{/get}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-widget wow fadeInUp" data-wow-delay="0.6s">
                                <div class="footer-title">
                                    <h4>Subscribe Now</h4>
                                </div>
                                <div class="footer-content">
                                 {{#if @labs.subscribers}}
                                  {{subscribe_form form_class="" input_class="form-control footer-subs-input" button_class="subscribe-btn" placeholder="Your Email"}}
                                  {{else}}
                                    <form action="/subscribe/">
                                        <div class="form-group">
                                            <input class="form-control footer-subs-input" type="email" placeholder="Your email" required>
                                        </div>
                                        <div class="form-group custom-input">
                                            <div class="themeix-button custom-btns">
                                                <button type="submit" class="subscribe-btn">Subscribe Now</button>
                                            </div>
                                            <p class="white">We will never do spam with you!</p>
                                        </div>
                                    </form>
                                 {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="row">
                        <div class="themeix-copyright">
                            <span>Made with <i class="fa fa-heart-o"></i> by <a href="http://themeix.com">Themeix</a> | Published with <a href="https://ghost.org">Ghost</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- scrollUp -->
    <div class="scroll-top">
        <div class="scroll-icon">
            <i class="fa fa-angle-up"></i>
        </div>
    </div>
    <!--End scrollUp -->
    <!-- End Footer -->

