<!-- Start Footer -->
<footer class="clearfix">
    <div class="footer-area">
        <div class="footer-overlay  section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="logo-area footer-logo wow fadeInUp" data-wow-delay="0.2s">
                            <a href="{{@blog.url}}"><img src="{{#if @blog.logo}} {{@blog.logo}} {{else}} /assets/images/logo.png {{/if}}" alt="{{@blog.title}}"></a>
                        </div>
                        <div class="footer-social wow fadeInUp" data-wow-delay="0.6s">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget wow fadeInUp" data-wow-delay="0.2s">
                            <div class="footer-title">
                                <h4>Recent Posts</h4>
                            </div>
                            <div class="footer-content">
                                {{#get "posts" limit="3" as |recent_posts| }} {{#foreach recent_posts}}
                                <div class="footer-post">
                                    <div class="footer-post-time">
                                        <div class="day">{{date format="D"}}</div>
                                        <div class="month">{{date format="MMM"}}</div>
                                    </div>
                                    <div class="footer-post-text">
                                        <a href="{{url}}">{{title}}</a>
                                    </div>
                                </div>
                                {{/foreach}} {{/get}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="overflow">
                            <div class="footer-widget wow fadeInUp" data-wow-delay="0.4s">
                                <div class="footer-title">
                                    <h4>Galería</h4>
                                </div>
                                <div class="footer-content">
                                    <div class="gallery-widget">
                                        {{#get "posts" limit="6" as |gallery|}} 
                                          {{#foreach gallery}} 
                                            {{#if feature_image}}
                                        <div class="footer-gallery img">
                                            <div class="caption">
                                                <a href="{{feature_image}}" class='lightview' data-lightview-group="example" data-lightview-caption="Lightview has mobile-friendly side buttons and pagination for easy navigation.">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </div>
                                            <img src="{{feature_image}}" alt="img" />
                                        </div>
                                           {{/if}} 
                                          {{/foreach}} 
                                        {{/get}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="container">
                <div class="row">
                   <div class="col-md-12"> 
                     <div class="themeix-copyright text-center">
                        <span>Publicado con<a href="https://ghost.org">Ghost</a></span>
                     </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- scrollUp -->
<div class="scroll-top">
    <div class="scroll-icon">
        <i class="fas fa-angle-up"></i>
    </div>
</div>
<!--End scrollUp -->
<!-- End Footer -->