
{{> 'config'}}  
<header>
    <!-- End Top Bar -->
    <div class="middle-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="site-logo">
                        <a href="{{@blog.url}}">
                            <img src="{{#if @blog.logo}} {{@blog.logo}} {{else}} /assets/images/logo.png {{/if}}" alt="{{@blog.title}}">
                        </a>
                    </div>
                </div>
                <div class="col-sm-9">
                  {{> 'header_banner_add' }}
                </div>
            </div>
        </div>
    </div>
    <!-- End middle header -->
    <div class="main-menu">
        <!-- Start Navigation -->
        <div class="header-section pin-style">
            <div class="container">
                <div class="row">
                    <div class="col-md-11 nopadding">
                        {{navigation}} 
                    </div> 
                    <div class="col-md-1">
                        <div class="drop-card hidden-xs hidden-sm">
                        <div class="search-btn">
                            <button class="search-link" data-toggle="modal" data-target="#search-page" ><i class="fa fa-search"></i></button>
                        </div>
                         {{> 'search-page'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end navigation -->
    </div>
</header>
