{{!-- <nav>
  <div class="navbar-header visible-xs">
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
   	 <i class="fa fa-bars"></i>
   </button>
    <a href="{{@blog.url}}" class="navbar-brand">
     	 <img src="{{asset "images/mobile-logo2.png"}}" alt="{{@blog.title}}">
    </a>
   </div>
   <div id="main-menu" class="navbar-collapse collapse">
   	 <ul class="navbar-nav">
   	    {{#foreach navigation}}
   	 	 <li class="nav-menu nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url}}">{{label}}</a></li>
   	 	{{/foreach}}
   	 </ul>
   </div>
</nav> --}}

<nav class="navbar navbar-expand-lg">
<div class="navbar-header visible-xs"> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topmenu">
    <i class="fa fa-bars"></i>
  </button>
  <a href="{{@blog.url}}" class="navbar-brand">
    <img src="{{asset "images/mobile-logo2.png"}}" alt="{{@blog.url}}">
  </a>
</div>

<div class="collapse navbar-collapse" id="topmenu">
  <ul class="navbar-nav mr-auto">
    {{#foreach navigation}}
      <li class="nav-item {{#if current}}nav-current{{/if}}"><a href="{{url}}" class="nav_link">{{label}}</a></li>
    {{/foreach}}
  </ul>
</div>
</nav>

{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> --}}
