<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="themeix">
    <title>{{@blog.title}}</title>

    <meta name="description" content="{{@blog.description}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favi icon -->
    <link rel="apple-touch-icon" href="{{asset "images/favicon.png"}}">

    <link rel="shortcut icon" type="image/x-icon" href="{{asset "images/favicon.png"}}">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

    <!-- bootstrap main css -->
    <link rel="stylesheet" href="{{asset "css/bootstrap.min.css"}}">

    <!-- font awesome css -->
    <link rel="stylesheet" href="{{asset "css/fontawesome.min.css"}}">

    <link rel="stylesheet" href="{{asset "css/fa-solid.min.css"}}">

    <link rel="stylesheet" href="{{asset "css/fa-brands.min.css"}}">

    <!-- Megamenu CSS -->
    <link rel="stylesheet" href="{{asset "css/animate.min.css"}}">

    <!-- main owl carousle -->
    <link rel="stylesheet" href="{{asset "css/owl.carousel.min.css"}}">

    <!-- light box css -->
    <link rel="stylesheet" href="{{asset "css/lightview.css"}}">

    <!-- Syntax highlighting css -->
    <link rel="stylesheet" href="{{asset "css/monokai-sublime.css"}}">

    <!-- Theme main css -->
    <link rel="stylesheet" href="{{asset "css/style.css"}}">

    <!-- responsive css -->
    <link rel="stylesheet" href="{{asset "css/responsive.css"}}" type="text/css">

    <!-- modernizr -->
    <script src="{{asset "js/modernizr-2.8.3.min.js"}}"></script>

   {{ghost_head}}

  </head>
   
   <body class="{{body_class}}">

     {{> 'header'}}

      {{{body}}}

     {{> 'footer'}}

    <!-- jquery main framwork -->
    <script src="{{asset "js/jquery-1.12.0.min.js"}}"></script>

    <!-- Poper JS -->
    <script src="{{asset "js/popper.min.js"}}"></script>

    <!-- bootstrap framwork js -->
    <script src="{{asset "js/bootstrap.min.js"}}"></script>

    <!-- owl carousel -->
    <script src="{{asset "js/owl.carousel.min.js"}}"></script>

    <!-- jQuery Easing -->
     

    <!--light box image -->
    <script src="{{asset "js/lightview.js"}}"></script>

    <!-- Fitvits -->
    <script src="{{asset "js/jquery.fitvids.js"}}"></script>

    <!-- Ghosthunter For Search -->
    <script src="{{asset "js/jquery.ghostHunter.min.js"}}"></script>

    <!--  Syntax highlighting js -->
    <script src="{{asset "js/highlight.pack.js"}}"></script>

    <!-- Jquery Easing -->
    <script src="{{asset "js/jquery.easing.min.js"}}"></script>



    <!-- Themix Main Js -->
    <script src="{{asset "js/themeix.js"}}"></script>

    <!-- Main JS -->
    <script src="{{asset "js/main.js"}}"></script>


{{ghost_foot}}

</body>

</html>