{{!< default}} 
<div class="section-ptb-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
             {{#post}}
                <div class="top-news-img post-details">
                    {{#if feature_image}}
                    <div class="img-section">
                        <img src="{{feature_image}}" alt="{{title}}">
                    </div>
                    {{/if}}
                    <div class="embeded-video"></div>
                </div>
                <div class="page-heading">
                    <h1>{{title}}</h1>
                </div>
                <div class="post-details">
                    {{content}}
                </div>
                <div class="icon-button">
                    <div class="middle-section">
                        <div class="left-link-item">
                            <ul>
                                {{#if tags}} {{#foreach tags}}
                                <li>
                                    <a href="{{url}}" title="{{name}}" class="tag {{slug}}">{{name}}</a>
                                </li>
                                {{/foreach}} {{/if}}
                            </ul>
                        </div>
                        <div class="share-icon">
                            <span>Compartir</span>
                            <ul class="social-icon">
                                <li>
                                    <a href="http://twitter.com/share?text={{encode title}}@amp;url={{url absolute='true'}}" class="skype"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="http://facebook.com/share?text={{encode title}}@amp;url={{url absolute='true'}}" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="http://plus.google.com/share?text={{encode title}}@amp;url={{url absolute='true'}}" class="google"><i class="fab fa-google-plus-g"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {{!-- <div class="about-author">
                        <div class="primary-heading">
                            <h4>About Author</h4>
                            <span class="box"></span>
                        </div>
                        <div class="author-box">
                            {{#author}}
                            <div class="author-img">
                                <img src="{{#if profile_image}} {{profile_image}} {{else}} /assets/images/author-image.jpg {{/if}}" alt="{{name}}">
                            </div>
                            <div class="author-details">
                                <div class="author-name">
                                    <h4 class="john">{{name}}</h4>
                                    <ul class="author-link">
                                        <li><a href="{{twitter_url}}"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="{{facebook_url}}"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="{{website}}"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>
                                {{bio}}
                            </div>
                            {{/author}}
                        </div>
                    </div> --}}
                </div>
                <div class="comments">
                    {{> 'disqus_comments'}}
                </div>
                {{/post}}
            </div>
            <div class="col-sm-4 pt-18">
                <div class="single-post-sidebar">
                    {{> 'sidebar'}}
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- add area content -->
    {{!-- <div class="add-area-content text-center">
        <div class="container">
            <div class="row">
                {{> 'big_banner_add'}}
            </div>
        </div>
    </div> --}}