{{!< default}} 
<div class="main-news-slider pt-75">
<div class="container">
    <div class="row">
        <div class="col-lg-8">
          {{#post}}
            <div class="top-news-img post-details {{post_class}}">
                <div class="img-section-2">
					{{#if feature_image}}
						<img src="{{feature_image}}" alt="{{title}}">
					{{/if}}
                </div>
                <div class="embeded-video"></div>
            </div>
            <div class="top-news">
                <h1>{{title}}</h1>
            </div>
            <div class="post-details">
                {{content}}
            </div>
            <div class="icon-button">
                <div class="middle-section">
                    <div class="left-link-item">
                        <ul>
                            {{#if tags}} {{#foreach tags}}
                            <li>
                                <a href="{{url}}" title="{{name}}" class="tag {{slug}}">{{name}}</a>
                            </li>
                            {{/foreach}} {{/if}}
                        </ul>
                    </div>
                    <div class="share-icon">
                        <span>Compartir</span>
                        <ul class="social-icon">
                            <li>
                                <a href="http://twitter.com/share?text={{encode title}}@amp;url={{url absolute='true'}}" class="skype"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="http://facebook.com/share?text={{encode title}}@amp;url={{url absolute='true'}}" class="facebook"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="http://plus.google.com/share?text={{encode title}}@amp;url={{url absolute='true'}}" class="google"><i class="fab fa-google-plus-g"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="previou-next-article">
                    {{#prev_post}}
                    <div class="left-previou">
                        <a href="{{url}}"><i class="fas fa-angle-left"></i>Artículo Anterior</a>
                        <p><a class="post-link" href="{{url}}">{{title}}</a></p>
                    </div>
                    {{/prev_post}} {{#next_post}}
                    <div class="next-artical">
                        <a href="{{url}}">Siguiente Artículo
                        <p><a class="post-link" href="{{url}}">{{title}}</a></p>
                    </div>
                    {{/next_post}}
                </div>
            </div>
            <div class="comments">
                <div id="disqus_thread"></div>
                {{> 'disqus_comments'}}
            </div>
            {{/post}}
        </div>
        <div class="col-lg-4">
            <div class="single-post-sidebar">
                {{> 'sidebar'}}
            </div>
        </div>
    </div>
  </div>
</div>
<!-- add area content -->
<div class="add-area-content text-center">

</div>
  
<!-- news-photo-gallery -->
<!-- news-photo-gallery -->
<div class="news-photo-gallery pb-45">
     {{> 'news_gallery'}}
</div>
<!-- purchase now -->
<div class="purchase-now">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="left-section">
                    <h5>Do you have any presale question to ask?</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                </div>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <div class="themeix-button">
                    <a href="index.html" class="orange-button event-button purchase-btn">Purchase Now</a>
                </div>
            </div>
        </div>
    </div>
</div>