 {{!< default}} 
 <!-- main-news-slider -->
    <div class="main-news-slider section-ptb-3">
        <div class="container">
            <div class="row">
                <!-- news-photo-gallery -->
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="primary-heading">
                                {{#tag}}
                                <h4>Archivo de {{name}}</h4>
                                <span class="box"></span> {{/tag}}
                            </div>
                        </div>
                    </div>
                    <div class="news-photo-gallery bg-none paddin-left-right-0">
                        <div class="row">
                            {{#foreach posts limit="6"}}
                            <div class="col-sm-6">
                                <div class="photo-gallery-single margin-none">
                                    <div class="post-image height-240" style="{{#if feature_image }} background-image:url({{img_url feature_image}}); {{else}} background-image:url(/assets/images/default-img.png); {{/if}}">
                                        <div class="caption">
                                            <a href="{{url}}"><i class="fas fa-link"></i></a>
                                        </div>
                                    </div>
                                    <div class="photo-gallery-content paddin-none">
                                        <h3 class="entry-title"><a href="{{url}}">{{title}}</a></h3> {{excerpt words="15"}}
                                    </div>
                                </div>
                            </div>
                            {{/foreach}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-post-sidebar">
                    <div class="row p-0"> 
                    <div class="col-md-6 col-lg-12"> 
                    <div class="sidebar-widget sm-pt-50">
                      <!--{{> 'most_popular'}}-->
                    </div>
                    </div>
                    <div class="col-md-6 col-lg-12"> 
                    <div class="sidebar-widget pt-45">
                        <div class="primary-heading">
                            <h4>Temas</h4>
                            <span class="box"></span>
                        </div>
                        <div class="categories-list sm-pb-50">
                            <ul>
                               {{#get "tags" limit="8" as |tag_info| }}
                                {{#foreach tag_info}}
                                 <li><a href="{{url}}">{{name}}</a></li>
                                {{/foreach}}
                               {{/get}}
                            </ul>
                        </div>
                    </div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- add area content -->
    <div class="add-area-content text-center">
        <div class="container">
            <div class="row">
                <!-- {{> 'big_banner_add'}} -->
            </div>
        </div>
    </div>